<div class="grid-sizer"></div>
<div class="grid-item">
  {% if people.redirect -%}
  <a href="{{ people.redirect }}">
    {%- else -%}
    <a href="{{ people.url | prepend: site.baseurl }}">
      {%- endif %}
      <div class="card hoverable mt-2 mb-1">
        {%- if people.img %}
        {%- include figure.html
        path=people.img
        alt="people thumbnail" -%}
        {%- endif %}
        <div class="card-body">
          <h5 class="card-title">{% t people.title %}</h5>
          <p class="card-text">{% t people.description %}</p>
          <div class="row ml-1 mr-1 p-0">
            {%- if people.github -%}
            <div class="github-icon">
              <div class="icon" data-toggle="tooltip" title="Code Repository">
                <a href="{{ people.github }}"><i class="fab fa-github gh-icon"></i></a>
              </div>
              {%- if people.github_stars -%}
              <span class="stars" data-toggle="tooltip" title="GitHub Stars">
                <i class="fas fa-star"></i>
                <span id="{{ people.github_stars }}-stars"></span>
              </span>
              {%- endif %}
            </div>
            {%- endif %}
          </div>
        </div>
      </div>
    </a>
</div>